In [1]:
import pandas as pd
import numpy as np

In [2]:
num_rep = "real"

In [3]:
data = pd.read_parquet('../../data/processed/genomes.parquet', engine='pyarrow')  # You can use 'fastparquet' as the engine
data

,Accession ID,Lineage,Collection date,Sequence,Test
0,EPI_ISL_16823464,XBB.1.5,2023-01-31,TAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATC...,0
1,EPI_ISL_3342425,AY.116,2021-07-26,GTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGC...,0
2,EPI_ISL_1715410,B.1.525,2021-01-12,AGGTAACAAACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCT...,1
3,EPI_ISL_515786,B.1.1.57,2020-07-29,TTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAGATCTGT...,0
4,EPI_ISL_17385094,BQ.1.1,2023-02-06,TACGGCGCCGATCTAAAGTCATTTGACTTAGGCGACGAGCTTGGCA...,1
...,...,...,...,...,...
47317,EPI_ISL_15963061,CP.5,2022-11-01,TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTC...,1
47322,EPI_ISL_15963067,BE.7,2022-11-05,TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTC...,1
47324,EPI_ISL_15963069,BE.7,2022-11-05,CTAAACGANCTTTAAAATCTGTGTGGCTGTCNCTCGGCTGCATNCT...,1
47344,EPI_ISL_18407436,BA.1,2022-07-26,TTGTAGATCTGTTCTCTAAACGAACNTGAAAATCTGTGTGGCTGTC...,1
47350,EPI_ISL_15426702,BA.4,2022-08-17,TTGTAGATCTGTTCTCTAAACGAACNNNNNNNNNNNNNNNNNNNNN...,1

In [4]:
data_num = pd.DataFrame(get_numerical_rep(data, num_rep))

In [5]:
data_num["Target"] = data["Lineage"].tolist()
data_num["Test"] = data["Test"].tolist()

In [6]:
data_num

,0,1,2,3,4,5,6,7,8,9,...,29743,29744,29745,29746,29747,29748,29749,29750,Target,Test
0,1.5,-1.5,-1.5,-1.5,-0.5,-0.5,1.5,1.5,1.5,-1.5,...,0.5,0.5,1.5,-1.5,-1.5,1.5,-0.5,1.5,XBB.1.5,0
1,-0.5,1.5,1.5,0.5,1.5,0.5,1.5,-1.5,-1.5,-1.5,...,1.5,-1.5,-1.5,1.5,1.5,1.5,1.5,-1.5,AY.116,0
2,-1.5,-0.5,-0.5,1.5,-1.5,-1.5,0.5,-1.5,-1.5,-1.5,...,1.5,-1.5,1.5,-1.5,1.5,-0.5,-0.5,-1.5,B.1.525,1
3,1.5,1.5,0.5,0.5,0.5,-1.5,-0.5,-0.5,1.5,-1.5,...,1.5,-1.5,0.5,-1.5,-0.5,1.5,-0.5,-1.5,B.1.1.57,0
4,1.5,-1.5,0.5,-0.5,-0.5,0.5,-0.5,0.5,0.5,-0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BQ.1.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22706,1.5,1.5,-0.5,1.5,-1.5,-0.5,-1.5,1.5,0.5,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CP.5,1
22707,1.5,1.5,-0.5,1.5,-1.5,-0.5,-1.5,1.5,0.5,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BE.7,1
22708,0.5,1.5,-1.5,-1.5,-1.5,0.5,-0.5,-1.5,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BE.7,1
22709,1.5,1.5,-0.5,1.5,-1.5,-0.5,-1.5,1.5,0.5,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BA.1,1
22710,1.5,1.5,-0.5,1.5,-1.5,-0.5,-1.5,1.5,0.5,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BA.4,1

In [7]:
data_num.to_parquet('../../data/numeric/real.parquet', engine='pyarrow')

/opt/conda/lib/python3.10/site-packages/pandas/io/parquet.py:190: UserWarning: The DataFrame has column names of mixed type. They will be converted to strings and not roundtrip correctly.
  table = self.api.Table.from_pandas(df, **from_pandas_kwargs)